@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/Zona Pro/Zona Pro Regular/Zona Pro Regular.eot");
	src:
		url("../fonts/Zona Pro/Zona Pro Regular/Zona Pro Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Zona Pro/Zona Pro Regular/Zona Pro Regular.woff") format("woff"),
		url("../fonts/Zona Pro/Zona Pro Regular/Zona Pro Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/Zona Pro/Zona Pro Regular Italic/Zona Pro Regular Italic.eot");
	src:
		url("../fonts/Zona Pro/Zona Pro Regular Italic/Zona Pro Regular Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Zona Pro/Zona Pro Regular Italic/Zona Pro Regular Italic.woff") format("woff"),
		url("../fonts/Zona Pro/Zona Pro Regular Italic/Zona Pro Regular Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/Zona Pro/Zona Pro SemiBold/Zona Pro SemiBold.eot");
	src:
		url("../fonts/Zona Pro/Zona Pro SemiBold/Zona Pro SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Zona Pro/Zona Pro SemiBold/Zona Pro SemiBold.woff") format("woff"),
		url("../fonts/Zona Pro/Zona Pro SemiBold/Zona Pro SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Zilla Slab";
	src: url("../fonts/Zilla Slab/Zilla Slab SemiBold/Zilla Slab SemiBold.eot");
	src:
		url("../fonts/Zilla Slab/Zilla Slab SemiBold/Zilla Slab SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Zilla Slab/Zilla Slab SemiBold/Zilla Slab SemiBold.woff") format("woff"),
		url("../fonts/Zilla Slab/Zilla Slab SemiBold/Zilla Slab SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
