:root {
	--font-family: "Zona Pro", sans-serif;
	--second-family: "Zilla Slab", sans-serif;
	--medium-desktop: 1200px;
	--medium-table: 1010px;
	--medium-mobile: 760px;
	--white: #fff;
	--dark: #292d32;
	--grey: #e7e7e7;
	--red: #bc4131;
	--blue: #0039a6;
	--green: #6b9791;
	--bg-green: linear-gradient(90deg, #73a09a 0%, #507a74 100%);
}
